name: PHP Code Analysis

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    paths:
      - "plugins/**"
  pull_request:
    branches: [ "master" ]
    paths:
      - "plugins/**"

permissions:
  contents: read

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    # - name: Validate composer.json and composer.lock
    #   run: composer validate --strict

    - name: Install PHPStan and Wordpress-stub
      run: |
        composer require --dev phpstan/phpstan
        composer require --dev szepeviktor/phpstan-wordpress
        composer require --dev phpstan/extension-installer

    - name: Run PHPStan
      run: vendor/bin/phpstan analyse plugins/* --error-format github --no-progress

